/* MOBILE DEVICE */
@media only screen and (max-width:668px) {
    /* HEADER STYLES */
    nav,
    .menu ul,
    footer{
        flex-direction: column;
    }
    .logo-image{
        width: 20px;
    }
    .logo h1{
        font-size: 20px;
    }
    /* FOOTER STYLES */
    footer{
        text-align: center;
    }
    footer form{
        margin:10px 0;
    }
    footer form input{
        margin: 10px 0;
    }
    .subscription input{
        border-radius: 10px!important;
    }
    
    .footer-text{
        display: none;
    }
    .footer-text-responsive{
        display: block;
    }
    
}

/* TABLET DEVICE */
@media only screen and (min-width:669px) and (max-width:992px) {
    /* HEADER STYLES */
    nav,
    footer{
        flex-direction: column;
    }
    /* FOOTER STYLES */
    .social-icons{
        margin: 10px 0;
    }
    .footer-text{
        display: none;
    }
    .footer-text-responsive{
        display: block;
    }

}