/* ----------------------- 
    BASIC SETUP
--------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hidden{
    display: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.flex{
    display: flex;
    align-items: center;
}
/* ----------------------- 
    HEADER STYLES
--------------------------*/
header,
footer,
.slide-options{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
nav{
    justify-content: space-between;
}
.logo{
    gap: 10px;
}
.logo-image{
    width: 30px;
}
.menu ul{
    margin-top: 10px;
    gap: 15px;
}
ul li svg{
    width: 20px;
}
.menu li:hover a{
    text-decoration: underline;
}
.menu .nav-search-bar input[type="text"]{
    border: 1px solid #ddd;
    outline:0;
    padding: 10px 20px;
    border-radius: 10px;
    background: url(images/search-icon.jpg);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 35px;
}
.menu .nav-search-bar input[type="text"]:focus{
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}
/* ----------------------- 
    MAIN STYLES
--------------------------*/
main{
    height: 60%;
    margin: 50px 0;
}
.slide-options ul{
    gap: 15px;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.slide-options ul li{
    color:#ddd;
    cursor: pointer;
}
.slide-options ul li.active{
    color: #000;
}
.slider-container{
    display: flex;
    overflow: hidden;
}
.single-slide-btn{
    background: none;
    width: 400px;
    border: 0;
    outline: 0;
    margin: 10px;
}
.single-slide{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}
.single-slide-btn:focus .blog-details{
    display: block;
}
.text-box{
    width: 100%;
    height: 200px;
    color: darkgray;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slide-title{
    transform: translate(0, 150%);
}
.blog-details{
    display: none;
    padding: 10px ;
    background: #ddd;
}
.blog-details p{
    text-align: justify;
}
.slide-footer{
    padding: 10px;
    font-size: 12px;
    justify-content: space-around;
}
.icons img{
    width: 20px;
    opacity: 0.7;
    margin:0 3px;
}
.slide-1{
    background: url(images/slider-img-1.jpg);
}
.slide-2{
    background: url(images/slider-img-2.jpg);
}
.slide-3{
    background: url(images/slider-img-3.jpg);
}
.slide-4{
    background: url(images/slider-img-4.jpg);
}
.slide-5{
    background: url(images/slider-img-5.jpg);
}
.slide-6{
    background: url(images/slider-img-6.jpg);
}


/* ----------------------- 
    FOOTER STYLES
--------------------------*/
footer{
    justify-content: space-between;
}
.subscription input[type="email"]{
    outline: none;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    margin-right: -10px;
    margin-left: 5px;
}
.subscription input[type="email"]:focus{
    border-color: #000;
}
.subscription input[type="submit"]{
    background-color: #ddd;
    padding: 11px 20px;
    outline: none;
    border: 0;
    border-radius:0 10px 10px 0;
    font-weight: bold;
    cursor: pointer;
}
footer img{
    width: 20px;
    margin-right: 5px;
    opacity: 0.8;
}
.social-icons{
    gap:5px;
    margin-bottom: 10px;
}
.social-icons li a:hover > img{
    opacity: 1;
}
.footer-text-responsive{
    display: none;
}