/* ----------------------- 
    BASIC SETUP
--------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

/* ----------------------- 
    HEADER STYLES
--------------------------*/
header{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-image{
    width: 30px;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu svg{
    width: 20px;
}
.menu li:hover a{
    text-decoration: underline;
}
.menu .nav-search-bar input[type="text"]{
    border: 1px solid #ddd;
    outline:0;
    padding: 10px 20px;
    border-radius: 10px;
    background: url(images/search-icon.jpg);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 35px;
}
.menu .nav-search-bar input[type="text"]:focus{
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}