/* ----------------------- 
    BASIC SETUP
--------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hidden{
    display: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.flex{
    display: flex;
    align-items: center;
}
/* ----------------------- 
    HEADER STYLES
--------------------------*/
header,
footer{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
nav{
    justify-content: space-between;
}
.logo{
    gap: 10px;
}
.logo-image{
    width: 30px;
}
.menu ul{
    margin-top: 10px;
    gap: 15px;
}
ul li svg{
    width: 20px;
}
.menu li:hover a{
    text-decoration: underline;
}
.menu .nav-search-bar input[type="text"]{
    border: 1px solid #ddd;
    outline:0;
    padding: 10px 20px;
    border-radius: 10px;
    background: url(images/search-icon.jpg);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 35px;
}
.menu .nav-search-bar input[type="text"]:focus{
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}


/* ----------------------- 
    FOOTER STYLES
--------------------------*/
footer{
    justify-content: space-between;
}
.subscription input[type="email"]{
    outline: none;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    margin-right: -10px;
    margin-left: 5px;
}
.subscription input[type="email"]:focus{
    border-color: #000;
}
.subscription input[type="submit"]{
    background-color: #ddd;
    padding: 11px 20px;
    outline: none;
    border: 0;
    border-radius:0 10px 10px 0;
    font-weight: bold;
    cursor: pointer;
}
footer img{
    width: 20px;
    margin-right: 5px;
    opacity: 0.8;
}
.social-icons{
    gap:5px;
}
.social-icons li a:hover > img{
    opacity: 1;
}